<div id="confirmdelete-modal" data-name="confirmdelete-modal" class="ts-open-modal ts-modal ts-modal-effect-1">
   <section class="ts-modal-content ts-bg-text-primary-color  ts-no-heading-margin ts-padding-lg ts-shadow ">
    <a class="ts-button ts-pull-right ts-modal-close flaticon-cross93" style=""></a>
    <div id="servermodal-content">
    	<div class="ts-bg-accent-color ts-text-text-primary-color ts-padding-sm ">
	    	<span id="confirm-dialog-delete-title">&nbsp;</span>
    	</div>
    	<p class="ts-text-center" style="background:none;">Are you sure <span id="confirm-delete-extra-text"></span>? </p>
			<div class="" ="ts-text-center">

	    	<form class="ts-form">
	    		<div class="ts-row ts-form-row">
		    		<div class="ts-col-span12 ts-text-center">
							<button id="confirm-delete-yes" class="ts-button ts-button-primary-text-color ts-modal-close">Yes</button> 
							or 
							<button id="confirm-delete-no" class="ts-button ts-modal-close">No</button>
		    		</div>
	    		</div>
	    	</form>
			</div>
    </div>
  </section>
</div>
