<% 
var menu_content = {
  labelheading:true,
  backlink:true,
  label: 'Content', 
  link: '/'+locals.adminPath+'/content',
  linkclass:'',
  links:[{
    label:'Items',
    link: '/'+locals.adminPath+'/content/items',
    linkclass:''
  },{
    label:'Collections',
    link: '/'+locals.adminPath+'/content/collections',
    linkclass:''
  },{
    label:'Compliations',
    link: '/'+locals.adminPath+'/content/compliations',
    linkclass:''
  },{
    label:'Contenttypes',
    link: '/'+locals.adminPath+'/content/contenttypes',
    linkclass:''
  },{
    label:'Categories',
    link: '/'+locals.adminPath+'/content/categories',
    linkclass:''
  },{
    label:'Tags',
    link: '/'+locals.adminPath+'/content/tags',
    linkclass:''
  },{
    label:'Assets',
    link: '/'+locals.adminPath+'/content/assets',
    linkclass:''
  }]
};
var menu_themes = {
  labelheading:true,
  backlink:true,
  label: 'Themes', 
  link: '/'+locals.adminPath+'/themes',
  linkclass:'',
  links:[{
    label:'Manage Themes',
    link: '/'+locals.adminPath+'/themes/edit',
    linkclass:''
  },{
    label:'Theme Settings',
    link: '/'+locals.adminPath+'/themes/settings',
    linkclass:''
  }]
};

var menu_extensions = {
  labelheading:true,
  backlink:true,
  label: 'Extensions', 
  link: '/'+locals.adminPath+'/extensions',
  linkclass:'',
  links:[{
    label:'Manage Extensions',
    link: '/'+locals.adminPath+'/extensions/edit',
    linkclass:''
  }]
};

var menu_settings = {
  labelheading:true,
  backlink:true,
  label: 'Settings', 
  link: '/'+locals.adminPath+'/settings',
  linkclass:'',
  links:[{
    labelheading:true,
    backlink:true,
    label:'Periodic Settings',
    link: '/'+locals.adminPath+'/settings',
    linkclass:'',
    links:[{
      label:'Application Settings',
      link: '/'+locals.adminPath+'/settings',
      linkclass:''
    },{
      label:'Theme Settings',
      link: '/'+locals.adminPath+'/themes/settings',
      linkclass:''
    },{
      label:'Restart Application',
      link: '/'+locals.adminPath+'/settings/restart',      
      linkclass:''
    }]
  },{
    labelheading:true,
    backlink:true,
    label:'User Settings',
    link: '/'+locals.adminPath+'/settings/users',
    linkclass:'',
    links:[{
      label:'Manage User',
      link: '/'+locals.adminPath+'/settings/users',
      linkclass:''
    },{
      label:'Manage User Roles',
      link: '/'+locals.adminPath+'/settings/userroles',
      linkclass:''
    },{
      label:'Manage User Privileges',
      link: '/'+locals.adminPath+'/settings/userprivileges',
      linkclass:''
    }]
  },{
    labelheading:false,
    backlink:false,
    label:'Help',
    link: '/'+locals.adminPath+'/settings/help',
    linkclass:''
  }]
};

var display_account_name = user.username || user.email
var display_account_link = user.username || user._id

var menu_account = {
  labelheading:true,
  backlink:true,
  label: display_account_name, 
  link: '/'+locals.adminPath+'/user/'+display_account_link+'/edit',
  linkclass:'',
  links:[{
    label:'Visibility',
    link:'responsive-visibility',
    linkclass:''
  },{
    label:'Grid',
    link:'responsive-grid',
    linkclass:''
  },{
    label:'Layout',
    link:'responsive-layout',
    linkclass:''
  },{
    label:'Headings',
    link:'responsive-headings',
    linkclass:''
  },{
    label:'Nav Elements',
    link:'responsive-navelements',
    linkclass:''
  }]
};

var menu_logout = {
  labelheading:false,
  backlink:false,
  label: 'Log Out', 
  link: '/logout',
  linkclass:'ts-force-link'
};


var heading = { 
  labelheading:true,
  label: 'Admin', 
  link: '/'+locals.adminPath,
  linkclass:'navlinks-section',
  links:[
    menu_content,
    menu_themes,
    menu_extensions,
    menu_settings,
    menu_account,
    menu_logout
  ] 
} ;

  var getNavHtml = function(nav){ %>
<div class="ts-pushmenu-mp-level">
  <%if(nav.labelheading == true){%>
    <h4 class="" data-href="#<%- nav.link %>" ><%- nav.label %></h4>
  <%}%>
  <% if(typeof nav !=='undefined' && nav.links && nav.links.length>0){%>
  <%if(nav.backlink == true){%>
          <a class="ts-pushmenu-mp-back" href="#color">Back</a>
  <%}%>
  <ul>
    <%nav.links.forEach(function(navlinkobj,i){ %>
        <li class="icon icon-arrow-left"><a class="" 

<% if(!navlinkobj.backlink){%>data-href="#<%- navlinkobj.link %>"<%}%> ><%- navlinkobj.label%></a>
        <%if(navlinkobj.links){
            getNavHtml(navlinkobj);
          }%>
        </li>
        <%
      })%>
  </ul>
  <%}%>
</div>
  <%};

  getNavHtml(heading);
 %>