<div id="servermodal-modal" data-name="servermodal-modal" class="ts-modal ts-modal-effect-1 ts-height-modal">
   <section class="ts-modal-content ts-bg-text-primary-color  ts-no-heading-margin ts-padding-lg ts-shadow ">
    <a class="ts-button ts-pull-right ts-modal-close">close</a>
    <div id="servermodal-content"></div>
  </section>
</div>