<div class="ts-col-span4 ts-screenmd-col-span6 ts-screensm-col-span6 ts-screenxs-col-span12">
  <div class="ts-text-bold">Tags</div>
  <span class="ts-button"><input type="checkbox" value="asd" name="tags"/> testtag</span>
</div>
<div class="ts-col-span4 ts-screenmd-col-span6 ts-screensm-col-span6 ts-screenxs-col-span12">
  <div class="ts-text-bold ts-text-lg">Categories</div>
  <span class="ts-button"><input type="checkbox" value="asd" name="tags"/> testtag</span>
</div>
<div class="ts-col-span4 ts-screenmd-col-span6 ts-screensm-col-span6 ts-screenxs-col-span12">
  <div class="ts-text-bold ts-text-lg">Content Types</div>
  <span class="ts-button"><input type="checkbox" value="asd" name="tags"/> content typs</span>
</div>
<?- JSON.stringify(locals,null,2)?>