<div style="margin-top:1.5em">
	<? for(var t in taxfields){
			taxonomyfield = taxfields[t];
		?>
			<div class="ts-col-span4 ts-screenmd-col-span6 ts-screensm-col-span6 ts-screenxs-col-span12">
			  <div class="ts-text-bold ts-text-xl breakword"><u class="breakword"><?- taxonomyfield.field_name ?></u> 
			  <? if((taxonomyfield.field_data && taxonomyfield.field_data._id) || (taxonomyfield.field_data && Array.isArray(taxonomyfield.field_data) && taxonomyfield.field_data.length>0 && taxonomyfield.field_data[0]._id)){?>
				  <small class="ts-text-xs ts-button-icon flaticon-cross95 ts-cursor-pointer ts-tax-clear-button" title="clear <?- taxonomyfield.field_name ?>" data-field-name="<?- taxonomyfield.field_name ?>" data-field-mapping-type="<?- taxonomyfield.field_mapping_type ?>" data-span-container="ts-tag-<?- taxonomyfield.field_name ?>-<?- taxonomyfield.field_mapping_type ?>"> </small>
			  <?}?> 
			  </div>
			  <span id="ts-tag-<?- taxonomyfield.field_name ?>-<?- taxonomyfield.field_mapping_type ?>" class="ts-tag-span-container">
		 		<? 

		 		if(taxonomyfield.field_data && Array.isArray(taxonomyfield.field_data) && taxonomyfield.field_data.length>0 && taxonomyfield.field_data[0]._id){

				  for(var y in taxonomyfield.field_data){ 
					  var dataelement=taxonomyfield.field_data[y];
					  var labeltouse = dataelement.title || dataelement.name || dataelement.label || dataelement.email || dataelement._id;
						if(dataelement.identification && dataelement.identification.guid){
							labeltouse = dataelement.identification.guid;
						} ?>
						<span id="ts-datalist-tagged-cb-span-<?- dataelement._id ?>" class="ts-text-sm ts-margin-md ts-button" style="margin-left:0;" >
							<?if(taxonomyfield.field_media_type==='media'){?>
							<figure class="ts-container-margin-md ts-text-center">
								<? if(dataelement.assettype && dataelement.assettype.match("image")){ ?>
	       		 			<img class="" src="<?-dataelement.fileurl?>"/>
					      <? } else if(dataelement.assettype && dataelement.assettype.match("pdf")){ ?>
					        <span class="flaticon-acrobat2"> </span>
					      <? } else if(dataelement.assettype && dataelement.assettype.match("zip")){ ?>
					        <span class="flaticon-zipped2"> </span>
					      <? } else if(dataelement.assettype && dataelement.assettype.match("audio")){ ?>
					        <span class="flaticon-audio55"> </span>
					      <? } else if(dataelement.assettype && dataelement.assettype.match("video")){ ?>
					        <span class="flaticon-video170"> </span>
					      <? } else if(dataelement.assettype && dataelement.assettype.match("text")){ ?>
					        <span class="flaticon-code41"> </span>
					      <? } else {?>
					        <span class="flaticon-file82"> </span>
					      <? }?>
							</figure>
						<?}?>
							<input type="checkbox" id="ts-datalist-tagged-cb-<?- dataelement._id ?>" name="<?- taxonomyfield.field_name ?>" value="<?- dataelement._id ?>" checked="checked" class="datalistcheckbox">
							 <?- labeltouse ?>
						</span>
				  <?}
				}
				else if(taxonomyfield.field_data && taxonomyfield.field_data._id){
					var dataelement=taxonomyfield.field_data;
				  var labeltouse = dataelement.title || dataelement.name || dataelement.label || dataelement.email || dataelement._id;
						if(dataelement.identification && dataelement.identification.guid){
							labeltouse = dataelement.identification.guid;
						} 
				?>
					<span id="ts-datalist-tagged-cb-span-<?- dataelement._id ?>" class="ts-text-sm ts-margin-md ts-button" style="margin-left:0;" >
						<?if(taxonomyfield.field_media_type==='media'){?>
							<figure class="ts-container-margin-md ts-text-center">
								<? if(dataelement.assettype && dataelement.assettype.match("image")){ ?>
	       		 			<img class="" src="<?-dataelement.fileurl?>"/>
					      <? } else if(dataelement.assettype && dataelement.assettype.match("pdf")){ ?>
					        <span class="flaticon-acrobat2"> </span>
					      <? } else if(dataelement.assettype && dataelement.assettype.match("zip")){ ?>
					        <span class="flaticon-zipped2"> </span>
					      <? } else if(dataelement.assettype && dataelement.assettype.match("audio")){ ?>
					        <span class="flaticon-audio55"> </span>
					      <? } else if(dataelement.assettype && dataelement.assettype.match("video")){ ?>
					        <span class="flaticon-video170"> </span>
					      <? } else if(dataelement.assettype && dataelement.assettype.match("text")){ ?>
					        <span class="flaticon-code41"> </span>
					      <? } else {?>
					        <span class="flaticon-file82"> </span>
					      <? }?>
							</figure>
						<?}?>
						<input type="checkbox" id="ts-datalist-tagged-cb-<?- dataelement._id ?>" name="<?- taxonomyfield.field_name ?>" value="<?- dataelement._id ?>" checked="checked" class="datalistcheckbox">
						 <?- labeltouse ?>
					</span>
				<?}?>
				<span>
			</div>
		<?
	} ?>
</div>