			<footer class="ts-row ts-serif-clean">
			  <div class="ts-col-span6 ts-text-sm">
			    Curated with <a href="http://getperiodic.org" target="_blank">Periodic</a>
			  </div>
			  <div class="ts-col-span6 ts-pull-right ts-text-right ts-text-sm">
			    Version <%= periodic.version %>
						<input type="hidden" name="periodic-version" value="<%= periodic.version %>"/> | Typesettin &copy;
			    <%var d=new Date();%>
			      <%- d.getFullYear() %>
			  </div>
			</footer>
		</div>
	</main>
	<nav id="ts-pushmenu-mp-menu" class="ts-pushmenu-mp-menu ">
	  <% include _nav %>
	</nav>
	<%- locals.viewhelper.getHTML(locals.additionalFooterHTML) %>
</body>
</html>