<% include ../../shared/header %>
<% genericdoctype = "Extension" %>
<% genericdoctypelink = "extension" %>
<% genericdoctypeplurallink = "extensions" %>
<% genericdocopen_admin=true %>
<% genericdoccount = extensionscount %>
<% genericdocpages = extensionpages %>
<% genericdoc_tktouse = "name,active" %>
<div class="ts-container">
  <div class="ts-page-content-container">
    <% include ../../shared/genericdoc_search_filters %>
    <input type="hidden" name="_csrf" value=<%- locals.token %> >
		<%- locals.get_data_table_html({
			data: extensions,
			data_attributes:[
			 // {label: 'Email',sortactive:true,sortid:'email',sortorder:'asc'},
				{label:'Name'},
				{label:'Version'},
				{label:'Enabled'},
			 	{label: 'Options'},
			 ],
			responsive_table :true,
			responsive_collapse: locals.default_responsive_collapse({getCollapseNameFunction:function(obj){return obj.email},
				editlink: '/'+locals.adminPath+'/extensions/|||_id|||',
				deletelink: '/'+locals.adminPath +'/extensions/|||_id|||/delete',
				deleterefreshlink: '/'+locals.adminPath +'/extensions/'
			}),
			responsive_expand:locals.default_responsive_expand(),
			thead:locals.default_thead(),
			tbody:{
				tag: 'tr',
				style: 'vertical-align:top;',
				html: function (obj) {
					var jsontablehtml;
					// jsontablehtml = '<td><a href="/' + options.adminPath + '/' + content_path + '/' + obj.identification.guid + '"  class="async-admin-ajax-link">' + obj.identification.guid + '</a></td>';
					jsontablehtml = '<td ><a href="/p-admin/extension/' + obj.name.toLowerCase() + '" class="async-admin-ajax-link">' + obj.name + '</a></td>'; 
					jsontablehtml += '<td > ' + obj.version + '</td>';
					jsontablehtml += '<td > ' + obj.enabled + '</td>';
					jsontablehtml += '<td> <a href="/p-admin/extension/' + obj._id + '/edit" class="async-admin-ajax-link">edit</a> | <a alt="delete" class=" ts-dialog-delete" data-href="/p-admin/extensions/' + obj._id + '/delete" data-deleted-redirect-href="/p-admin/extensions">delete</a>	</td>';
					return jsontablehtml;
				}
			},
			custom_tfoot: locals.default_custom_tfoot({
				total:extensions.length,
				count:extensionscount,
				pages:extensionpages,
				currentlimit:request.query.limit,
				currentpage:request.query.pagenum,
				colspan: 9
			})
		}) %>
  </div>
</div>
<% include ../../shared/footer %>
