<aside class="ts-padding-md ts-border-divider-text-color">
	<h3>Full Documentation</h3>
	<p>Periodic is a extremely flexible and modular by design.</p>
	<p>Overriding, extending, customizing existing and new functionality is highly encouraged.</p>
	<p>Please read the <a href="https://github.com/typesettin/periodicjs/wiki" target="_blank">full documentation on github</a> and help build a better platform.</p>
</aside>