<aside class="ts-padding-md ts-border-divider-text-color">
	<form id="update-periodic-settings-form" name="update-periodic-settings-form" class="ts-form ts-form async-admin-ajax-forms" method="post" action="/p-admin/settings/updateappsettings" data-successsubmitfunction="restartAppResponse">
		<input type="hidden" name="_csrf" value=<%- locals.token %> >
		<p>Updating settings updates <a class="ts-button ts-text-sm">content/config/environment/<%- appsettings.environment %>.json</a> and restarts your application. Your theme can be changed by updating <a href="/p-admin/themes">theme settings</a>.</p>
		<h5>Configuration Options [<%- appsettings.environment %>]</h5>
		<p class="extra-padding">
			<div id="appsettings-config"></div>
		</p>
		<p class="ts-text-center">
			<button type="submit" class=" ts-button ts-color-info " style="font-size: 110%;">Update Application Settings</button>
		</p>
		<h5>Read Only</h5>
		<p class="extra-padding">
			<div id="appsettings-readonly"></div>
		</p>

	</form>
</aside>