<aside class="ts-padding-md ts-border-divider-text-color">
	<h3>Restart Application</h3>
	<p class="extra-padding">Using this method to restart the application, updates <a class="ts-button">content/config/restart.json</a>. 
	<p class="extra-padding">This only works if you're running the application with forever/nodemon (or npm start or npm run nd).</p> 
	<p class="ts-text-center">
	<a data-href="/p-admin/settings/restart" class=" ts-button ts-button-error-color ts-dialog-delete" data-successfunction="restartAppResponse" data-donotnotify="true" style="font-size: 110%;">Restart Application</a>
	</p>
</aside>