<aside class="ts-padding-md ts-border-divider-text-color">
	<form id="update-theme-settings-form" name="update-theme-settings-form" class="ts-form ts-form async-admin-ajax-forms" method="post" action="/p-admin/settings/updatethemesettings" data-successsubmitfunction="restartAppResponse">
		<input type="hidden" name="_csrf" value=<%- locals.token %> >
		<div class="ts-document  ts-genericdoc">
			<div class="ts-row">
				<p>Updates <a class="ts-button ts-text-sm">content/config/themes/<%= appsettings.readonly.theme %>/periodicjs.theme.json</a> and restarts your application.</p>
				<h5>Theme Configuration Options [Environment: <%- themesettings.environment %>]</h5>
				<div id="themesettings-jsoneditor" class="ts-row ts-form-row" style="min-height:20em;">
		      <!-- <label for="generic-content" class="ts-label">Content</label> -->
		      <textarea  id="themesettings-codemirror" name="themesettings-codemirror"  class="textarea-tall noFormSubmit codemirroreditor jsonEditor ts-col-span12" style="height:60em;"><%- JSON.stringify(themesettings.configuration,null,4) %></textarea>
		    </div>
			</div>
			<div class="ts-row">
				<p class="ts-text-center">
						<button type="submit" class=" ts-button ts-button-accent-color" style="font-size: 110%;">Update Theme Settings</button>
				</p>
			</div>
			<div class="ts-row">
				<details >
					<summary>
						Read Only
					</summary>
					<aside style="border:0;">
						<p class="extra-padding">
							<div id="themesettings-readonly"></div>
						</p>
					</aside>
				</details>
			</div>
		</div>
	</form>
</aside>