<% include ../shared/header %>
<% include ../shared/nav %>

	<div class="_pea-container">
		<div class="_pea-row">
			<div class="_pea-col-span6 _pea-col-nofloat">
				<h2 class="text-left"><%= pagedata.title %></h2>
				<div class="_pea-document">
					<form action="/auth/user/finishregistration" method="post" autocomplete="on" id="user_finish_registration_form" name="user_finish_registration_form" class="form-horizontal">
						<% include finish_register_form %>
					</form>
				</div>
			</div>
		</div>
	</div>

<% include ../shared/footer %>