<% include ../../shared/header %>
<div class="ts-container">
	
<p>new index home</p>
<p>new index home</p>
<p>new index home</p>
<p>new index home</p>
<p>new index home</p>
<p>new index home</p>
<p>new index home</p>
<p>new index home</p>
<p>new index home</p>
<p>new index home</p>
<p>new index home</p>
<p>new index home</p>
<p>new index home</p>
<p>new index home</p>
</div>
<% include ../../shared/footer %>
