@import "../../../../public/stylesheets/default/periodic.less";
@import "../../node_modules/platterjs/client/stylesheets/platter.less";

.ts{
	body{
    // background: #f7f7f7;
	}
	#ts-admin-console-content{
		pre{
			margin: 0;
		  margin-left: .5em;
			&.ts-sans-serif{
				.ts-sans-serif;
			}
		}
	}
	footer{
		&.ts-position-fixed.ts-position-bottom{
			z-index: 100;
		} 
	}
	#_pltrContainer{
		&._pltr-bottom{
			bottom:1em;
		}
		._pltr-tab{
			height:3em;
			.ts-text-text-primary-color; 
			.ts-bg-accent-color;
			border:none;
			font-size:@percentsm;
		}
	}
	#_pltr-elementsContainer{
		height:100%;
		#adminConsole_pltr-pane-wrapper{
			height:100%;
			padding-top:@sizexl;
			overflow:auto;
			.ts-text-text-primary-color; 
			.ts-bg-primary-text-color;
		}
		#adminConsole_pltr-pane{
			.ts-text-text-primary-color; 
			.ts-bg-primary-text-color;

		}
	}
}