@import (inline) "../../public/img/icons/adminui/flaticon.css"; 
@import (inline) "../../public/stylesheets/animate.min.css"; 
@import "../../../../public/stylesheets/default/periodic.less";
@import "../../../../node_modules/stylie.modals/resources/stylesheets/stylie.modals.less";
@import "../../node_modules/platterjs/client/stylesheets/platter.less";
@import "../../node_modules/stylie.treeview/resources/stylesheets/stylie.treeview.less";
@import (inline) "../../node_modules/codemirror/lib/codemirror.css";
@import (inline) "../../node_modules/codemirror/addon/fold/foldgutter.css";
@import (inline) "../../node_modules/codemirror/addon/lint/lint.css";
@import (inline) "../../node_modules/codemirror/addon/hint/show-hint.css";
 body, 
  .ts .ts-serif-clean,
  .ts h1, .ts h2, .ts h3, .ts h4, .ts h5, .ts h6,
  .ts summary,
  .ts details {
font-family: Arial, Helvetica, sans-serif!important;
	font-family: @sanserif!important;

   }
 #ts-asyncadmin-content-container {
    font-size: 18px;
  }
.ts .ts-nav-image {
    height: 2.75rem;
    padding: 0.75rem;
    top: 0.5rem;
    position: relative;
}
.CodeMirror{
	height:auto;
	font-size: 65%;
}
.animated-fast {
  -webkit-animation-duration: .250s;
  animation-duration: .250s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated-medium {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.ts-tabs nav li.ts-tab-current:before, 
.ts-tabs nav li.ts-tab-current:after {
  background: @dividerColor;
}
.breakword{
	word-break: break-all;
}
.ts{
  .breakword
	.ts-texteditor{
		font-family: Arial,"Times New Roman";
		h1,h2,h3,h4,h5,h6{
			font-family: Arial,"Times New Roman"
		}
		.ts{
			h1,h2,h3,h4,h5,h6{
				font-family: Arial,"Times New Roman"
			}
		}
	}
	.ts-tabs-content{
		&.ts-tab-border{
			aside{
			  border-width: 1px;
			  border-style: solid;
			  border-top: none;
			}
		}
	}
	.ts-modal{
		width:auto;
		max-width:90%;
	}
	body{
		// font-size:11px;


// .ts-sans-serif{
// 	font-family: @sanserif;
// } 
		nav#ts-search-content{
			position: fixed;
			top: 0;
			height: auto;
			max-height: 55%;
			z-index: 200;
			width: 90%;
			margin-left: 5%;
			margin-top: @sizexl;
			padding: @sizelg;
			padding-bottom: @sizexx;
			background: @textPrimaryColor;
			min-width: (@sizexx *3);
			overflow: auto;
			overflow-x: hidden;
			// .ts-shadow;
			border: 1px solid @primaryTextColor;
			&.initialState{
				display: none;
			}
		}
		nav#ts-nav-menu{
			position: fixed;
			top: 0;
			height: 100%;
			z-index: 200;
			width: auto;
			margin-top: @sizelg+@sizemd;
			padding: @sizelg;
			padding-bottom: @sizexx;
			background: @textPrimaryColor;
			min-width: (@sizexx *3);
			overflow: auto;
			overflow-x: hidden;
			// .ts-shadow;
			border-right: 1px solid @primaryTextColor;
			&.initialState{
				display: none;
			}
		}
		.ts-tax-man-results{
			padding: @sizemd;
			background: @textPrimaryColor;
	    overflow: hidden;
	    overflow-y: auto;
			border: 1px solid @dividerColor;
	    max-height: 20em;
	    .breakword{
	    	word-break: break-all;
	    }
		}
		.ts-tax-man-props{
			.ts-button{
				word-break:break-all;	text-overflow: ellipsis;
			}
		}
		.ts-nav-overlay{
			position: fixed;
			top:0;
			height:100%;
			width:100%;
			background-color: rgba(255, 255, 255, 0.8);
			text-align: center;
			vertical-align: middle;
	 		transition: all .3s ease-in-out;
	 		opacity: 1;
	 		z-index:190;
	 		&.hide{
	 			opacity: 0;
	 			display: none;
	 		}
	 	}
	 	.ts-medialist-cb{
	 		section{
	 			display:block;
	 			overflow: auto;
	 		}
	 	}
		#ts-asyncadmin-content-container{
			margin-top: @sizexx;
		}
		.ts-genericdoc-entry{
			padding-right:(@sizexl/2);
		}
		.sort_tr_true{
			text-decoration: underline;
			cursor: pointer;
		}
		.ts-genericdoc{
    	outline: none;
    	&:focus{
    		outline: none;
    	}
			summary{
				outline: none;
				&:focus{
					outline: none;
				}
				margin-bottom: 0;
			}
			hr{
				margin-bottom: 0;
				border-bottom-color: lighten(@dividerColor, 20%)
			}
			aside{
				background-color:lighten(@secondaryColor, 10%);
				padding:@sizemd;
			}
			.ts-form-row{
				padding: 0;
			}
    }
    .ts-icon{
    	height: @sizelg;
    	margin: @sizexs;
    }
    .ts-genericdoc-hoveroptions{
    	transition: opacity .1s ease-in-out;
    	opacity: 0;
    	&.show-hoveroptions{
    		opacity: 1;
    	}
    }
    details:hover,
    details[open]{
	    .ts-genericdoc-hoveroptions{
	    	opacity: 1;
	    }
    }
    .generic-content{
    	min-height: 15em;
    }
    .ts-form-row{
    	.ts-input{
    		&.ts-padding-sm{
    			padding: @sizesm;
    		}
    		&.ts-padding-xs{
    			padding: @sizexs;
    		}
    	}
	    .ts-input.ts-texteditor{
	    	font-size:80%;
     		background: #fff;
     		img,iframe,audio,video,picture,pre,textarea,track{
     			max-width: 100%;
     		}
	    	h1,h2,h3,h4,h5,h6{
	    		margin-top:@sizexs;
	     	}
	     	&:hover{
	     		background: #fff;
	     	}
	    }
    }
	}
	.ts-form{
		.ts-form-row{
	    .ts-input.ts-texteditor{
     		background: #fff;
	     	&:hover{
	     		background: #fff;
	     	}
	    }
		}
	}
	.ts-editor-container{
		height: auto;
		width: auto;
		-webkit-transition: opacity 0.3s, width 0.1s 0.2s, height 0.1s 0.2s;
		transition: opacity 0.3s, width 0.1s 0.2s, height 0.1s 0.2s;

		.ts-editor-menu{
			.ts-button{
				margin-right: @sizesm;
				margin-left: @sizesm;
			}
		}

		&.ts-editor-fullscreen{
			position: fixed;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			background: white;
			display: block;
			z-index: 10000;
			overflow: auto;
			.ts-editor-menu{
				position: fixed;
				width: 100%;

			}
			.ts-texteditor{
				margin-top: @sizexl;
			}
		}
	}
	#ts-admin-console-content{
		pre{
			margin: 0;
		  margin-left: .5em;
			&.ts-sans-serif{
				.ts-sans-serif;
			}
		}
	}
	#_pltr-ecmc{
		display:none;
	}
	#_pltrContainer{
		background: none;
		&._pltr-bottom{
			// bottom:1em;
		}
		._pltr-tab{
			height:3em;
			.ts-text-text-primary-color; 
			.ts-bg-accent-color;
			border:none;
			font-size:@percentsm;
			float:right;
			display: inline;
			color:@accentColor;
			cursor: pointer;
			&._pltr-item{
				display: inline;
			}
		}
	}
	#adminConsole_pltr{
		display: inline;
	}
	#_pltr-elementsContainer{
		height:100%;
		#adminConsole_pltr-pane-wrapper{
			min-height:100%;
			padding-top:@sizexl;
			overflow:auto;
			.ts-text-text-primary-color; 
			.ts-bg-primary-text-color;
		}
		#adminConsole_pltr-pane{
			.ts-text-text-primary-color; 
			.ts-bg-primary-text-color;

		}
	}

	._pltr-tab{
		&._pltr-item{
			display: inline;
			color:@accentColor;
			cursor: pointer;
		}
	}
	footer{
		z-index: 210;
	}
	#ts-asyncadmin-content-wrapper{
		margin-bottom: @sizexx;
	}
	.ts-button-icon{
		&[class^="flaticon-"]:before, &[class*=" flaticon-"]:before,
		&[class^="flaticon-"]:after, &[class*=" flaticon-"]:after {   
			font-size:14px;
			margin-left: 0px;
		}
	}
	.ts-button{
		&.ts-button-transparent{
			background-color: transparent;
			border: none;
			background: none;
			&.bottom-border{
				border-bottom:1px solid black;
			}
		}
		&[class^="flaticon-"]:before, &[class*=" flaticon-"]:before,
		&[class^="flaticon-"]:after, &[class*=" flaticon-"]:after {   
			font-size:14px;
			margin-left: 0px;
		}
	}
}

#adminConsole_pltr-pane{
	background: @primaryTextColor;
	color: @textPrimaryColor;
	font-size:14px;
	min-height: 100%;
}