<% include ../../shared/header %>
<div class="ts-container">
	<section class="ts-text-container ts-genericdoc">
		<% include ../../shared/_html_inject_precontent %>
		<script type="text/javascript">
		<%- locals.viewhelper.passObjToClient(userprofile.userroles,"userprofileuseroles") %>
		</script>
		<form class="ts-form async-admin-ajax-forms" id="edit-user-form" name="edit-user-form" method="post" action="/<%- locals.adminPath %>/user/edit"  onsubmit="return false;" enctype='multipart/form-data' 
data-successsubmitfunction="refresh_content_attributes_media">
			<% include _compose_user_form %>
		</form>
		<% include ../../shared/_html_inject_postcontent %>
	</section>
</div>
<% include ../../shared/footer %>
