<% var genericdoc = userprofile %>
<% var genericdocid = userprofile._id %>
<% var genericdoctype = entity.capitalized_name /*"User"*/ %>
<% var genericdoctypename = entity.name /*"user"*/ %>
<% var genericdoctypelink = entity.name /*"user"*/ %>
<% var genericdoctypeplurallink = entity.plural_name /*/users"*/ %>
<% include ../../shared/header %>
<div class="ts-container">
  <div class="ts-text-container ts-genericdoc">
    <% include ../../shared/genericdoc_compose_title %>

    <div class="ts-row">
      <div class="ts-col-span12">
        <div id="refresh-tabs" class="ts-tabs">
          <nav>
            <ul class="ts-col-span12 ts-text-center">
              <li class="ts-col-span3 ts-no-margin">Basic</li>
              <% if(user.privileges['760'] || user.accounttype==='admin'){%>
              <li class="ts-col-span3 ts-no-margin">Advanced</li>
              <%}%>
            </ul>
          </nav>
          <div class="ts-tabs-content">
            <section class="ts-no-padding">
              <form id="edit-<%- genericdoctypename %>-wysiwyg-form" name="edit-<%- genericdoctypename %>-wysiwyg-form" autocomplete="off" class="ts-form async-admin-ajax-forms" method="post" action="/<%- locals.adminPath %>/<%- genericdoctypename %>/edit" enctype="multipart/form-data" 
          data-successsubmitfunction="refresh_content_attributes_media">
								<% include _compose_user_form %>
              </form>
            </section>
            <% if(user.privileges['760'] || user.accounttype==='admin'){%>
            <section class="ts-no-padding">
              <% include ../../shared/genericdoc_show_doc %>
            </section>
            <%}%>
          </div>
        </div>
      </div>
    </div>
	</div>
</div>
  <% var generictaxnomy = 'tag' %>
  <% include ../../shared/_new_generic_taxonomy_modal %>
  <% var generictaxnomy = 'category' %>
  <% include ../../shared/_new_generic_taxonomy_modal %>
  <% var generictaxnomy = 'contenttype' %>
  <% include ../../shared/_new_generic_taxonomy_modal %>
  <% var generictaxnomy = 'asset' %>
  <% include ../../shared/_new_generic_asset_modal %>
<% include ../../shared/footer %>
