<% include ../../shared/header %>
<% genericdoctypename = "user" %>
<div class="ts-container">
  <div class="ts-text-container ts-genericdoc">

    <div class="ts-row">
      <div class="ts-col-span12">
        <div id="refresh-tabs" class="ts-tabs">
          <nav>
            <ul class="ts-col-span12 ts-text-center">
              <li class="ts-col-span3 ts-no-margin">Basic</li>
              <li class="ts-col-span3 ts-no-margin">Advanced</li>
            </ul>
          </nav>
          <div class="ts-tabs-content">
            <section class="ts-no-padding">
              <% genericdoc = user %>
              <% genericdocid = user._id %>
              <% genericdoctype = "User" %>
              <% genericdoctypename = "user" %>
              <% genericdoctypelink = "user" %>
              <% genericdoctypeplurallink = "users" %>
              <form id="edit-<%- genericdoctypename %>-wysiwyg-form" name="edit-<%- genericdoctypename %>-wysiwyg-form" class="ts-form async-admin-ajax-forms" method="post" action="/<%- locals.adminPath %>/user/edit" enctype="multipart/form-data" 
          data-successsubmitfunction="refresh_content_attributes_media">
								<% include _compose_user_form %>
              </form>
            </section>
            <section class="ts-no-padding">
              <% include ../../shared/genericdoc_show_doc %>
            </section>
          </div>
        </div>
      </div>
    </div>









	</div>
</div>
<% include ../../shared/footer %>
