<% include ../../shared/header %>
<% var genericdoctype = entity.capitalized_name /*"User"*/ %>
<% var genericdocs = (entity.name==='account')? accounts : users /*"user"*/ %>
<% var genericdoctypename = entity.name /*"user"*/ %>
<% var genericdoctypelink = entity.name /*"user"*/ %>
<% var genericdocusemodal = false /*"user"*/ %>
<% var genericdoctypeplurallink = entity.plural_name /*/users"*/ %>
<% var genericdoccount = (entity.name==='account')? accountscount : userscount %>
<% var genericdocpages = (entity.name==='account')? accountpages : userpages %>
<% var genericdoc_tktouse = "createdat,updatedat,username,email,firstname,lastname,birthday,accounttype,gender,primaryasset,assets,userroles,primaryauthor,coverimages,coverimage" %>
<div class="ts-container">
  <div class="ts-page-content-container">
    <% include ../../shared/genericdoc_search_filters %>
    <input type="hidden" name="_csrf" value=<%- locals.token %> >
		<%- locals.get_data_table_html({
			data: genericdocs,
			data_attributes:[
			 {label: 'Email',sortactive:true,sortid:'email',sortorder:'asc'},
			 {label: 'Create Date',sortactive:true,sortid:'createdat',sortorder:'asc'},
			 {label: 'First Name',sortactive:true,sortid:'firstname',sortorder:'asc'},
			 {label: 'Last Name',sortactive:true,sortid:'lastname',sortorder:'asc'},
			 {label: 'Activated',sortactive:true,sortid:'activated',sortorder:'asc'},
			 {label: 'Account Type',sortactive:true,sortid:'accounttype',sortorder:'asc'},
			 {label: 'ID'},
			 {label: 'User Roles'},
			 {label: 'Options'},
			 ],
			responsive_table :true,
			responsive_collapse: locals.default_responsive_collapse({getCollapseNameFunction:function(obj){return obj.email},
				editlink: '/'+locals.adminPath+'/'+genericdoctypeplurallink+'/|||_id|||',
				deletelink: '/'+locals.adminPath +'/'+genericdoctypeplurallink+'/|||_id|||/delete',
				deleterefreshlink: '/'+locals.adminPath +'/'+genericdoctypeplurallink+'/'
			}),
			responsive_expand:locals.default_responsive_expand(),
			thead:locals.default_thead(),
			tbody:{
				tag: 'tr',
				style: 'vertical-align:top;',
				html: function (obj) {
					var jsontablehtml;
					// jsontablehtml = '<td><a href="/' + options.adminPath + '/' + content_path + '/' + obj.identification.guid + '"  class="async-admin-ajax-link">' + obj.identification.guid + '</a></td>';
					jsontablehtml = '<td><a href="/p-admin/'+genericdoctypename+'/' + obj._id + '/edit" class="async-admin-ajax-link">' + obj.email + '</a></td>'; 
					jsontablehtml += '<td>' + new locals.viewhelper.moment(obj.createdat).format('MM/DD/YYYY |  hh:mm:ssa') + '</td>';
					jsontablehtml += '<td>' + obj.firstname + '</td>';
					jsontablehtml += '<td>' + obj.lastname + '</td>'; 
					jsontablehtml += '<td>' + obj.activated + '</td>';
					jsontablehtml += '<td>' + obj.accounttype + '</td>';
					jsontablehtml += '<td><a href="/p-admin/'+genericdoctypename+'/' + obj._id + '/edit" class="async-admin-ajax-link">' + obj._id + '</a></td>';
					
					jsontablehtml += '<td>';
					if(obj.userroles && obj.userroles.length>0){
						obj.userroles.forEach(function(generictax,i){
							jsontablehtml += '<a  class="async-admin-ajax-link" href="/'+locals.adminPath +'/userrole/'+generictax._id+'/edit" >'+generictax.title+'</a>'; 
							if(i !== (obj.userroles.length-1)){
								jsontablehtml += ',';
							}
						});
					}
					jsontablehtml += '</td>';

					jsontablehtml += '<td> <a href="/p-admin/'+genericdoctypename+'/' + obj._id + '/edit" class="async-admin-ajax-link">edit</a>';
					if(entity.name==='user' && locals.use_separate_accounts===true){
						jsontablehtml += ' | <a data-href="/p-admin/'+genericdoctypename+'/' + obj._id + '/make_account" class="ts-ajax-button" data-redirect-href="/p-admin/accounts" data-ajax-method="post">create account</a>';
					}
					jsontablehtml += ' | <a alt="delete" class=" ts-dialog-delete" data-href="/p-admin/'+genericdoctypeplurallink+'/' + obj._id + '/delete" data-deleted-redirect-href="/p-admin/'+genericdoctypeplurallink+'">delete</a>	</td>';
					return jsontablehtml;
				}
			},
			custom_tfoot: locals.default_custom_tfoot({
				total:genericdocs.length,
				count:genericdoccount,
				pages:genericdocpages,
				currentlimit:request.query.limit,
				currentpage:request.query.pagenum,
				colspan: 9
			})
		}) %>
  </div>
</div>
<% include ../../shared/footer %>