<% include ../shared/header %>
	<section class="ts-container">
	<!-- <i class="fa fa-camera-retro fa-5x"></i> big cam -->
		<% include partial/_index_stats %>
		<% include partial/_index_moreinfo %>
	</section>
<% include ../shared/footer %>
