<% include ../shared/header %>
	<section class="ts-container">
		<% include ../shared/_html_inject_precontent %>
		<% include partial/_index_stats %>
		<% include partial/_index_moreinfo %>
		<% include ../shared/_html_inject_postcontent %>
	</section>
<% include ../shared/footer %>
