<% include ../../shared/header %>
<% genericdoctype = "Userroles" %>
<% genericdoctypelink = "userrole" %>
<% genericdoctypeplurallink = "userroles" %>
<% genericdoccount = userrolescount %>
<% genericdocpages = userrolepages %>
<% genericdoc_tktouse = "userroleid,title,name,author,description" %>
<div class="ts-container">
  <div class="ts-page-content-container">
    <% include ../../shared/genericdoc_search_filters %>
    <input type="hidden" name="_csrf" value=<%- locals.token %> >
    <%- locals.get_data_table_html({
			data: userroles,
			data_attributes:[
			 {label: 'Name'},
			 {label: 'Role ID'},
			 {label: 'Privileges'},
			 {label: 'Description'},
			 {label: 'Options'},
			 ],
			responsive_table :true,
			responsive_collapse: locals.default_responsive_collapse({getCollapseNameFunction:function(obj){return obj.email},
				editlink: '/'+locals.adminPath+'/userrole/|||_id|||',
				deletelink: '/'+locals.adminPath +'/userrole/|||_id|||/delete',
				deleterefreshlink: '/'+locals.adminPath +'/userroles/'
			}),
			responsive_expand:locals.default_responsive_expand(),
			thead:locals.default_thead(),
			tbody:{
				tag: 'tr',
				style: 'vertical-align:top;',
				html: function (obj) {
					var jsontablehtml;
					// jsontablehtml = '<td><a href="/' + options.adminPath + '/' + content_path + '/' + obj.identification.guid + '"  class="async-admin-ajax-link">' + obj.identification.guid + '</a></td>';
					jsontablehtml = '<td><a href="/'+locals.adminPath +'/userrole/' + obj._id + '/edit" class="async-admin-ajax-link">' + obj.name + '</a></td>'; 
					jsontablehtml += '<td>' + obj.userroleid + '</td>';
					
					jsontablehtml += '<td>';
					if(obj.privileges && obj.privileges.length>0){
						obj.privileges.forEach(function(generictax,i){
							jsontablehtml += '<a  class="async-admin-ajax-link" href="/'+locals.adminPath +'/userprivilege/'+generictax._id+'/edit" >'+generictax.title+'</a>'; 
							if(i !== (generictaxomony.length-1)){
								jsontablehtml += ',';
							}
						});
					}
					jsontablehtml += '</td>';

					jsontablehtml += '<td>' + obj.description + '</td>';
					jsontablehtml += '<td> <a href="/'+locals.adminPath +'/userrole/' + obj._id + '/edit" class="async-admin-ajax-link">edit</a> | <a alt="delete" class=" ts-dialog-delete" data-href="/'+locals.adminPath +'/userroles/' + obj._id + '/delete" data-deleted-redirect-href="/'+locals.adminPath +'/userroles">delete</a>	</td>';
					return jsontablehtml;
				}
			},
			custom_tfoot: locals.default_custom_tfoot({
				total:userroles.length,
				count:userrolescount,
				colspan: 5
			})
		}) %>
  </div>
</div>
<% include _new_userrole_modal %>
<% include ../../shared/footer %>
