<% include ../../shared/header %>
<% genericdoctype = "Theme" %>
<% genericdoctypelink = "theme" %>
<% genericdoctypeplurallink = "themes" %>
<% genericdoccount = themescount %>
<% genericdocopen_admin=true %>
<% genericdocpages = themepages %>
<% genericdoc_tktouse = "themename,name,active" %>
<div class="ts-container">
  <div class="ts-page-content-container">
    <% include ../../shared/genericdoc_search_filters %>
    <input type="hidden" name="_csrf" value=<%- locals.token %> >
		<%- locals.get_data_table_html({
			data: themes,
			data_attributes:[
			 // {label: 'Email',sortactive:true,sortid:'email',sortorder:'asc'},
				{label:'Name'},
				{label:'Active'},
			 	{label: 'Options'},
			 ],
			responsive_table :true,
			responsive_collapse: locals.default_responsive_collapse({getCollapseNameFunction:function(obj){return obj.email},
				editlink: '/'+locals.adminPath+'/themes/|||_id|||',
				deletelink: '/'+locals.adminPath +'/themes/|||_id|||/delete',
				deleterefreshlink: '/'+locals.adminPath +'/themes/'
			}),
			responsive_expand:locals.default_responsive_expand(),
			thead:locals.default_thead(),
			tbody:{
				tag: 'tr',
				style: 'vertical-align:top;',
				html: function (obj) {
					var jsontablehtml;
					// jsontablehtml = '<td><a href="/' + options.adminPath + '/' + content_path + '/' + obj.identification.guid + '"  class="async-admin-ajax-link">' + obj.identification.guid + '</a></td>';
					jsontablehtml = '<td ><a href="/p-admin/theme/' + obj.themename.toLowerCase() + '" class="async-admin-ajax-link">' + obj.themename + '</a></td>'; 
					jsontablehtml += '<td > ' + obj.active + '</td>';
					jsontablehtml += '<td> <a href="/p-admin/theme/' + obj._id + '/edit" class="async-admin-ajax-link">edit</a> | <a alt="delete" class=" ts-dialog-delete" data-href="/p-admin/themes/' + obj._id + '/delete" data-deleted-redirect-href="/p-admin/themes">delete</a>	</td>';
					return jsontablehtml;
				}
			},
			custom_tfoot: locals.default_custom_tfoot({
				total:themes.length,
				count:themescount,
				pages:themepages,
				currentlimit:request.query.limit,
				currentpage:request.query.pagenum,
				colspan: 9
			})
		}) %>
  </div>
</div>
<% include ../../shared/footer %>
