<div class="ts-text-xs">
	<div class="ts-row">
		<div class="ts-col-span12 ts-document">
			<h3>More Updates</h3>
				<p class="extra-padding">
					Check out the <a href="https://github.com/typesettin/periodicjs/tree/master/releases" target="_blank">release history on github.</a>
				</p>
		</div>
	</div>
</div>